<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TelegramStorage</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/animation.css">
</head>
<body>
    <nav class="navbar sticky-top bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand noselect">TelegramStorage</a>
        </div>
      </nav>

      <div class="colored-bg">
        <div class="tab-content">
            <h2 class="center_text">Регистрация прошла успешно!</h2>
            <h4 class="center_text">Перейдите по ссылке из письма, отправленного на Вашу почту</h4>

            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>

        </div>
        
      </div>

      <script src="/static/js/popper.min.js" ></script>
      <script src="/static/js/bootstrap.min.js"></script>
    
</body>
</html>